<a href="https://colab.research.google.com/github/masterfloss/python-introducao/blob/master/exercicio_aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
nome = input("Como te chamas?")
idade = input("Qual a tua idade?")
resposta = nome +" "+idade+" "+"anos"
print(resposta)

Como te chamas?Miguel
Qual a tua idade?23
Miguel 23 anos

In [0]:
nome =input("Por favor, ensira o seu nome")
resposta = "Nome:" + nome
print(resposta)
idade = input("Por favor, ensira a sua idade")
resposta = "Idade:" + idade
print(resposta)
idade1= int(idade)
nascimento= "Nasceste no ano de " + str(2019-idade1)
print(nascimento)

Por favor, ensira o seu nomeRodrigo
Nome:Rodrigo
Por favor, ensira a sua idade21
Idade:21
Nasceste no ano de 1998

In [0]:
import datetime

In [0]:
nome = input('nome')
idade = input('idade')
data = datetime.datetime.now()
print (data.year - int(idade))

nomea
idade5
2014

In [0]:
data = datetime.datetime.now()
print(data)

2019-04-30 11:09:32.462156

In [0]:
numero=input("Escreve um numero")
num1=int(numero)
if num1%2==0:
  print("é par")
else:
  print("é impar")

Escreve um numero2
é par

In [0]:
num = int(input("Escolha um número para dividir: "))

listRange = list(range(1, num+1))

divisorList =[]

for number in listRange:
  if num % number == 0:
    divisorList.append(number)
    
print(divisorList)

Escolha um número para dividir: 20
[1, 2, 4, 5, 10, 20]

In [0]:

num = 15
listRange = list(range(1, num+1))
print(listRange)

for number in listRange:
  if num % number == 0:
    print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
1
3
5
15

In [0]:
def variaveis(x,y,z):
  if x>=y and x>=z :
    return x
  elif y>=x and y>=z:
    return y 
  elif z>=x and z>=y:
    return z

In [0]:
variaveis(10,3,5)

10

In [0]:
variaveis(5,5,5)

5

In [0]:
variaveis(5,5,5)
variaveis(10,10,9)

In [0]:
def variaveis2(x,y,z):
  if x>=y and x>=z :
    return x
  elif y>=x and y>=z:
    return y 
  else:
    return z

In [0]:
print(variaveis2(3,6,9))

9

In [0]:
def Z(listA,b):
  for x in listA:
    if x == b:
      return True
  return False

Z([1,2,3,4,5], 4)

True

In [0]:
def noDuplicate(oldList):
  newList = list(dict.fromkeys(oldList))
  return newList

In [0]:
mylist = [1,2,3,2,4,4,5]
print(noDuplicate(mylist))

[1, 2, 3, 4, 5]

In [0]:
def noDuplicateA(a):
  
  newList=[]
  
  for i in a:
    if i not in newList:
      newList.append(i)
  return newList

noDuplicateA([1,2,2,3,3,4,4,5,6,7,7,])

[1, 2, 3, 4, 5, 6, 7]

In [0]:
def noDuplicateB(oldList):
  return list(set(oldList))

noDuplicateB([1,2,2,3,3,4,4,5,6,7,7,])

[1, 2, 3, 4, 5, 6, 7]

In [0]:
def isEvenNum(listA):
  enum = []
  for n in listA:
    if n % 2 ==0:
      enum.append(n)
  return enum

print(isEvenNum([2,3,8,15,25,36,45,64,88,99]))

[2, 8, 36, 64, 88]

In [0]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def speak(self):
    print("My name is " + self.name + " and I'm " + str(self.age))
  def speak1(self):
    return "My name is " + self.name + " and I'm " + str(self.age)

In [0]:
Paulo = Person("Paulo", 21)
Paulo.speak1()

"My name is Paulo and I'm 21"

In [0]:
class Student(Person):
  def __init__(self, name, age,subject):
    Person.__init__(self, name, age)
    self.subject = subject
  def study(self):
    return self.subject

In [0]:
joao = Student("João",23,"Economics")
joao.study()

'Economics'